        <head>
    <title>Pimienta & sal</title>
     <link rel="stylesheet" href="/css/footer.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
      <footer>
        <p id="tittleFooter">Powered by Pimienta & Sal</p>
      </footer>