    
      <head>
    <title>Pimienta & sal</title>
      <link rel="stylesheet" href="/css/header.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
    <header class="headere" id="home">
       <div class="tittle">
        <h1 class="tittleHeader">Sabores que enamoran</h1>
      <img
        class="imageHeader"
        src="/images/header.jpg"
        alt="Pimienta & Sal"
      />
      </div>
    </header>