   <head>
    <title>Pimienta & sal</title>
      <link rel="stylesheet" href="/css/nav.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
 <nav id="navbar">     
        <a href="/" class="">Pimienta & Sal</a>
        <div class="menu">
          <a href="about" class="">About</a>
          <a href="/menu" class="menu-nav">Menu</a>
          <a href="/menu/create" class="crear-nav">Crear</a>

        </div>
    </nav>