   <head>
    <title>Pimienta & sal</title>
      <link rel="stylesheet" href="/css/nav.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
 <nav id="navbar">     
        <a href="/" class="">Pimienta & Sal</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="menu">
          <a href="./about" class="">About</a>
          <a href="#menu" class="menu-nav">Menu</a>
        </div>
    </nav>