<!DOCTYPE html>
<html>
  <head>
    <title>Pimienta & sal</title>
    <link rel="stylesheet" href="/css/create.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <%- include('./partials/nav')%>
   
    <!-- Page content -->
    <form method="POST" action="/menu/create" enctype="multipart/form-data">
          <label for="nombrePlato"><span>Nombre del plato: </span>
                <input name="nombre" id="nombrePlato" required>
            </label>
            <label for="precio"><span>Precio: </span>
                <input name="precio" id="precio">
            </label>
            <label for="descripcion"><span>Descripcion: </span>
                <textarea name="descripcion" id="descripcion" type="descripcion"></textarea>
            </label>
            <label for="image"><span>Imagen: </span>
                <input name="image" id="image" type="file">
            </label >     
            <button type="submit">enviar</button>
    </form>
  </body>
</html>
