<!DOCTYPE html>
<html>
  <head>
    <title>Pimienta & sal</title>
     <link rel="stylesheet" href="/css/create.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <%- include('./partials/nav')%>
   <form method="POST" action="/login" >
          <label for="email"><p>Email:</p>
                <input name="email" id="email" required type="email"
                 value="<%= locals.oldData ? oldData.email : '' %>">
                 <% if (locals.errors && errors.email) { %>
                  <p class="danger"><%=errors.email.msg %></p>
                  <%}%>
            </label>
            <label for="password"><p>Password: </p>
                <input name="password" id="password" type="password" 
                required >
            </label>
            <p>
              <input name="remember" type="checkbox">Recordar
            </p>
            
            <button type="submit">enviar</button>
    </form>
</body>
</html>