.imageHeader{
    width: 100%;
  height: 50%;
  opacity: 0.5;
  position: relative;
}
.tittleHeader{
  font-size: 25px;
  color:black;
    position: absolute;
}

/*media query*/
@media (min-width: 768px) {
  .tittleHeader{
    position: relative;
    font-size:35px;
    top:65px;
  }
  .tittle{
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
.imageHeader{
    width: 25%;
}
}