html{
    box-sizing: border-box;
}
h4{
    font-size:20px
}
p{
    font-size: 18px;
}
h1{
    text-align: center;
}
img{
    width: 100%;
}
/*media query*/
@media (min-width: 780px) {
 
    .menuContent{
        flex-wrap: wrap;
        display: flex;
    }
    .container-picture{
        width: 25%;
        margin: 10px 0px;

    }
    .card{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #title-menu{
        width: 25%;
    }
}
@media (min-width: 1024px) {
    .card{
        width: 45vw;
    align-items: flex-start;
    justify-content: space-around; 
    margin:20px;
    }
    #menu{
        margin-top: 30px;
    }
}
